<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

    <targets async="true">
        <target name="logfile"
                xsi:type="File"
                archiveFileName="${shortdate}.{##}.log"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveFiles="7"
                fileName="${shortdate}.log"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | Thread#${threadid} | ${message} | ${exception:format=tostring}"/>

        <target xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="false"
                name="logconsole"
                encoding="utf-8"
                enableAnsiOutput="true"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | Thread#${threadid}${newline}${message:withexception=true}"
        >
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="White"/>
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green"/>
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole"/>
        <logger name="*" minlevel="Trace" writeTo="logfile"/>
    </rules>
</nlog>